/* myStyles.css */

:root {
    --violeta-white: #fff;
    --violeta-black: #000;
    --violeta-grey-400: #919191;
    --violeta-grey-200: #e6e6e6;
    --violeta-yellow: #f7ad1d;
    --violeta-pink: #e474ab;
    --violeta-red: #ef4136;
    --violeta-green: #3bc68a;
    --violeta-blue: #51b9cd;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    cursor: none;
}

body.hide-cursor {
    cursor: none;
}

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

.pinkBackground {
    background-color: #e474ab;
}

.pinkText {
    color: #e474ab;
}

.greenBackground {
    background-color: #3bc68a;
}

.greenText {
    color: #3bc68a;
}

.redBackground {
    background-color: #ef4136;
}

.redText {
    color: #ef4136;
}

.blueBackground {
    background-color: #51b9cd;
}

.blueText {
    color: #51b9cd;
}

.borderRight {
    border-right: 1px solid var(--violeta-black, #000);
}

@media (max-width: 767.98px) {
    .borderRight-sm {
        border-right: none;
    }
}

.horizontalLine {
    border-bottom: 1px solid var(--violeta-black, #000);
    width: 100%;
}

.printShopText {
    color: var(--violeta-black, #000);
    font-size: 0.875rem;
    line-height: normal;
}

.shopNowLink {
    color: var(--violeta-black, #000);
    font-size: 0.875rem;
    line-height: normal;
    text-decoration-line: underline;
    display: flex;
    padding-top: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 767.98px) {
    .printShopText,
    .shopNowLink {
        font-size: 1rem;
    }
}

.shopNowLink:hover {
    color: #ef4136;
}

.printInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imageContainer,
.order-1.order-md-2.col-12.col-md-9.largePadding.largePadding-md.smallPadding-md,
.container-fluid.printShopContainer {
    height: 100%;
}

@media (max-width: 767.98px) {
    .imageContainer,
    .order-1.order-md-2.col-12.col-md-9.largePadding.largePadding-md.smallPadding-md,
    .container-fluid.printShopContainer {
        height: auto;
    }
}

.img-fluid {
    object-fit: contain;
    height: 100%;
    width: auto;
}


.printShopContainer {
    margin-top: 7.125rem;
}

@media (min-width: 768px) {
    .printShopContainer {
        margin: 7.125rem 0 3.563rem 0;
    }
}

.largePadding {
    padding: 57px 1.88rem 2.5rem 1.88rem;
}

@media (max-width: 767.98px) {
    .imageContainer,
    .order-1.order-md-2.col-12.col-md-9.largePadding.largePadding-md.smallPadding-md,
    .row.border-bottom.border-black.border-1,
    .container-fluid.printShopContainer {
        height: auto;
    }

    .img-fluid {
        height: auto !important;
        width: 100% !important;
    }

    .largePadding-md {
        padding: 1.25rem;
    }
    .smallPadding-md {
        padding-bottom: 0;
    }
}

.imageContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 0.625rem;
}

#dataTitle {
    padding-bottom: 1.25rem;
}

.printShopContainer > .row:last-child {
    margin-bottom: 0;
}

.galleryInfoContainer {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5625rem;
    text-align: left;
    line-height: 1.75rem;
    width: 100%;
}

@media (max-width: 767.98px) {
    .galleryInfoContainer {
        font-size: 0.875rem;
        line-height: normal;
    }
}

.filtered {
    background: var(--violeta-green, #3bc68a);
}

.filtered img {
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(200%);
    filter: grayscale(100%) contrast(200%);
    opacity: 1;
}


.aboutLink {
    color: black;
}

.aboutLink:hover {
    color: #51b9cd;
}

@media (min-width: 768px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 1.5vw;
        height: 1.5vw;
    }

    .carousel-control-next {
        right: -2rem;
    }

    .carousel-control-prev {
        left: -2rem;
    }
}