/******************* My Styles *******************/

.violetaWhite {
    color: #FFF;
}

.violetaBlack {
    color: #000;
}

.violetaYellow {
    color: #F7AD1D;
}

.violetaBlue {
    color: #51B9CD;
}

.violetaGreen {
    color: #3BC68A;
}

.violetaPink {
    color: #E474AB;
}

.violetaRed {
    color: #EF4136;
}

