/******************* My Styles *******************/

/*** Color Library ***/

.violetaWhite {
    color: #FFF;
}

.violetaBlack {
    color: #000;
}

.violetaYellow {
    color: #F7AD1D;
}

.violetaBlue {
    color: #51B9CD;
}

.violetaGreen {
    color: #3BC68A;
}

.violetaPink {
    color: #E474AB;
}

.bkPink {
    background-color: #E474AB;
}

.bkGreen {
    background-color: #3BC68A;
}

.violetaRed {
    color: #EF4136;
}

.bkWhite {
    background-color: #FFFFFF;
}


/*** Body ***/

body {
     font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

 }

/**** Navbar ****/

.navbarMobileBrand {
    display: flex;
    width: 100%; /* Set width to 100% to occupy the full screen width */
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
}

.navbarMobileOptions {
    display: flex;
    width: 100%; /* Set width to 100% to occupy the full screen width */
    padding: 0rem 1.25rem;
    align-items: flex-start;
    gap: 2.625rem;
    border-bottom: 1px solid black;
}

.mobileLinksContainer {
    display: flex;
    width: 100%; /* Set width to 100% to occupy the full screen width */
}

.mobileLink {
    display: flex;
    padding: 1.25rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.linkWork {
    display: flex;
    width: 24.375rem;
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
    background: #E474AB;
}

.linkGallery {
    display: flex;
    width: 24.375rem;
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
    background: #3BC68A;
}

.linkShop {
    display: flex;
    width: 24.375rem;
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
    background: #EF4136;
}

.subDivs {
    display: none; /* Start with the subDivs hidden */
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out; /* Apply transitions for opacity and position */
}

.subDivs.visible {
    display: block; /* Show the subDivs when the 'visible' class is applied */
    opacity: 1; /* Fully opaque when visible */
}

.linksDesktopSubMenu {
    font-family: Helvetica;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.linksNavBar {
    text-decoration: none;
    color: #51B9CD;
}
/*** Footer ***/

/*** Index differs a bit ***/

.footerMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerMobileMail {
    display: flex;
    padding: 1.25rem 1.25rem 0.75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.footerLinkDecoration {
    text-decoration: none;
    color: black;
}

.footerOtherLinks {
    display: flex;
    justify-content: space-between; /* Adjust this property */
    align-items: flex-start;
    padding: 0.75rem 1.25rem 1.25rem 1.25rem;
}

.otherLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

/*** Index ***/

/* Flower Desktop Animation */

.flowerPathOuter,
.flowerPathCenter {
  fill: none;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
  stroke-width: 11px;
}

