/******************* My Styles *******************/

/*** Color Library ***/

.violetaWhite {
    color: #FFF;
}

.violetaBlack {
    color: #000;
}

.violetaYellow {
    color: #F7AD1D;
}

.violetaBlue {
    color: #51B9CD;
}

.violetaGreen {
    color: #3BC68A;
}

.violetaPink {
    color: #E474AB;
}

.bkPink {
    background-color: #E474AB;
}

.bkGreen {
    background-color: #3BC68A;
}

.violetaRed {
    color: #EF4136;
}

.bkWhite {
    background-color: #FFFFFF;
}


/*** Body ***/

body {
     font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
 }

/**** Navbar ****/

.navbarMobileBrand {
    display: flex;
    width: 100%; /* Set width to 100% to occupy the full screen width */
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
}

.galleryBorderWhite {
    border-bottom: 1px solid white !important;
}

.navbarMobileOptions {
    display: flex;
    width: 100%; /* Set width to 100% to occupy the full screen width */
    padding: 0rem 1.25rem;
    align-items: flex-start;
    gap: 2.625rem;
    border-bottom: 1px solid black;
}

.mobileLinksContainer {
    display: flex;
    width: 100%; /* Set width to 100% to occupy the full screen width */
}

.mobileLink {
    display: flex;
    padding: 1.25rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.linkWork {
    display: flex;
    width: 100%;
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
    background: #E474AB;
}

.linkGallery {
    display: flex;
    width: 100%;
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
    background: #3BC68A;
}

.linkShop {
    display: flex;
    width: 100%;
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
    background: #EF4136;
}

.subDivs {
    position: absolute;
    width: 100%;
    display: none; /* Start with the subDivs hidden */
    opacity: 0; /* Make it initially transparent */
    z-index: 1000;
}



.subDivs.visible {
    display: block; /* Show the subDivs when the 'visible' class is applied */
    opacity: 1; /* Fully opaque when visible */
}

.linksDesktopSubMenu {
    font-family: Helvetica;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.linksNavBar {
    text-decoration: none;
    color: #51B9CD;
}

.linksNavBarGallery {
    text-decoration: none;
    color: #3BC68A;
}
/*** Footer ***/

/*** Index differs a bit ***/

.footerMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerMobileMail {
    display: flex;
    padding: 1.25rem 1.25rem 0.75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.footerLinkDecoration {
    text-decoration: none;
    color: black;
}

.footerLinkDecorationGallery {
    text-decoration: none;
    color: white;
}

.footerOtherLinks {
    display: flex;
    justify-content: space-between; /* Adjust this property */
    align-items: flex-start;
    padding: 0.75rem 1.25rem 1.25rem 1.25rem;
}

.otherLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

/*** Index ***/

/* Flower Desktop Animation */

.flowerPathOuter,
.flowerPathCenter {
  fill: none;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
  stroke-width: 11px;
}

/*** Gallery ***/

    /*** Mobile ***/

.galleryGrid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.mobileGalleryRow {
    display: flex;
    align-items: flex-start;
}

.mobileDuoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid white;
}

.blockOne {
    display: flex;
    padding: 20px 15px 20px 20px;
    align-items: flex-start;
    border-right: 1px solid white;
}

.blockTwo {
    display: flex;
    padding: 20px 20px 20px 15px;
    align-items: flex-start;
}

.galleryImg {
    display: flex;
    width: 160px;
    height: 190px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*** About ***/

    /*** Mobile ***/

.aboutPic {
    display: flex;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 1px solid black;
}

.aboutPic img {
    max-width: 100%;
    height: auto; /* This ensures the image maintains its aspect ratio */
}

.contactSection {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.contactTitle {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.contactInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 20px;
}

.infoText {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.specialMarginContats{
    margin-top: 20px;
}

.bioSectionTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.bioSection {
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.bioText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.otherWorks {
    text-align: left;
    margin-top: 20px;
}
.otherWorksLink {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    color: black;
    text-align: left;

}

    /*** Desktop ***/



/*** Work ***/


    /*** Mobile ***/

.workFrame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.titleWork {
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
}

.descriptionWork {
    display: flex;
    margin: 0;
}

.plusButtonWork {
    display: flex;
    margin: 20px 0 0 0;
    padding: 0;
    border: none;
    background: none;
    cursor:pointer;
}

.hiddenInfoWork {
    margin: 20px 0 0 0;
    display: none;
    font-size: 14px;
}

.hiddenInfoWorkText {
    margin: 0;
}

.selectedWorkImg {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 20px auto 0 auto;
}

.divWorkBottomBorder {
    border-bottom: 1px solid #101010;
    width: 100%;
}